.distinction-bg {
    background: url(../img/bg-boing.png), url(../img/bg-airbus.png);
    background-position-y: center;
    background-position-x:0, 100%;
    background-repeat: no-repeat;
    margin-top: 221px;
}
.distinction {
 h1 {
    padding-bottom: 631px;
 }
}