.nav {
  a {
    color: white;
    font-weight: 600;
    font-size: 18px;
  }
  .nav-link {
    &:hover {
      color: #cbcaca;
    }
  }
}
.bg-light {
  background-color: black;
}
.navbar-nav a {
  color: white;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 16px;
}