.pagination {
  .page-link {
    border: none;
    font-family: "Liquid Crystal Display";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 37px;
    letter-spacing: 0.15em;
    color: #03008d;
  }
}
