@import "../node_modules/bootstrap/scss/functions";
@import "variable";
@import "~bootstrap/scss/bootstrap";
@import "button";
@import "nav";
@import "header";
@import "fonts";
@import "bg";
.man {
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
}
.relative {
}