@import "../node_modules/bootstrap/scss/functions";
@import "variable";
@import "~bootstrap/scss/bootstrap";
@import "button";
@import "nav";
@import "header";
@import "fonts";
@import "bg";
@import "gift";
@import"try";
@import "avia";
@import"h1";
@import"flight-simulator";
@import"where-to-fly";
@import "card";
@import"pagination";
@import "certificate";
.man {
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
}
